body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2167f2;
}

.App {
  height: 100vh;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.material-icons.md-54 {
  font-size: 54px;
}
.material-icons.md-12 {
  font-size: 12px;
}

.empty-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
